@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    --font-type: 'Playfair Display', serif;
    box-sizing: border-box;
}

h1 {
    background-color: #6495ED;
    color: white;
    height: 100px;
    font-size: 3rem;
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    font-family: var(--font-type);
}

#container {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

#new-book {
    padding: 5px 20px;
    font-size: 40px;
    width: auto;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: #6495ED;
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
}

.button-container span {
    margin-top: 5px;
}


@keyframes run {
    0% {
        left: 0;
    }
    100% {
        left: 50%;
    }
}
