@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

body, html {
    --font-type: 'Inter', sans-serif;
    font-family: var(--font-type);
    font-optical-sizing: auto;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#container {
    position: relative;
    bottom: 1.5rem;
    height: 100%;
    width: 100%;
}

#container div {
    overflow: scroll;
    line-height: 1.4;
}

button#delete:hover {
    color: #767676;
}

h1 {
    padding: 25px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 50px;
}




